@tailwind base;
@tailwind components;
@tailwind utilities;
/* @import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap'); */
.form-input,
.form-textarea,
.form-select,
.form-multiselect {
	appearance: none;
	background-color: #fff;
	border-color: #6b7280;
	border-width: 1px;
	border-radius: 0px;
	padding-top: 0.5rem /* 8px */;
	padding-right: 0.75rem /* 12px */;
	padding-bottom: 0.5rem /* 8px */;
	padding-left: 0.75rem /* 12px */;
	font-size: 1rem /* 16px */;
	line-height: 1.5rem /* 24px */;
	--tw-shadow: 0 0 #0000;
}
